snippet for "For loop" b
for ($1) {
	$2
}$0
endsnippet
snippet inc "#include ..." b
#include "$1"$0
endsnippet

snippet Inc "#include <...>" b
#include <$1>$0
endsnippet

snippet todo "TODO" b
// TODO(`echo $USER`): ${1:desc} (`date +%F`)
endsnippet

snippet st "Struct" !b
struct ${1:name} {
   $2
};$0
endsnippet

snippet tst "Typedef struct" !b
typedef struct ${1:name} {
   $2
} $1_t;$0
endsnippet

# vim:ft=snippets:
