[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/ListToggle"]
	path = bundle/ListToggle
	url = https://github.com/Valloric/ListToggle.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim2hs"]
	path = bundle/vim2hs
	url = https://github.com/dag/vim2hs.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/ghcmod-vim"]
	path = bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/neco-ghc"]
	path = bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "bundle/vim-localrc"]
	path = bundle/vim-localrc
	url = https://github.com/thinca/vim-localrc.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
