snippet lst "Code listing. Ugly." b
\lstinputlisting[style=`!p snip.rv=complete(t[1], ['Matlab','Python'])`]{${2:path/to/file}}${0: Enter style match string: $1}
endsnippet

snippet () "\Paren{...}" i
\Paren{$1}$0
endsnippet

snippet {} "\Set{...}" i
\Set{$1}$0
endsnippet
